In [1]:
# Import de Bibliotecas
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# NB Configuration

%config InlineBackend.figure_format = 'retina'
sns.set_context('talk')
plt.style.use(r'../../src/visualization/my_style.mplstyle')

In [6]:
path = r'../../data/raw/boletim.csv.gz'
df = pd.read_csv(path)

In [25]:
df['notes'].dropna().reset_index()

      index                                              notes
0        11           https://www.instagram.com/p/B-Lba2CpJML/
1        15  Boletim das 21h - Adiciona uma confirmação. O ...
2        16  Boletim informa que o novo caso deu entrada pe...
3        18                                4 casos adicionados
4        27                         Adiciona um caso em Macapá
...     ...                                                ...
2663  13483  Dados totais coletados da Secretaria Estadual ...
2664  13485                Dados extraídos do github do SEADE.
2665  13512                 Dados Extraídos da Fundação SEADE.
2666  13514                        Planilha extraída da SEADE.
2667  13515                        Números extraídos da SEADE.

[2668 rows x 2 columns]

# Conclusão

Esse arquivo se refere aos boletins lidos para a criação do DataFrame.