In [1]:
# Import de Bibliotecas
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
# NB Configuration

%config InlineBackend.figure_format = 'retina'
sns.set_context('talk')
plt.style.use(r'../../src/visualization/my_style.mplstyle')

In [3]:
path = r'../../data/raw/caso.csv.gz'
df = pd.read_csv(path)

In [4]:
df.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2021-06-25,AP,NaN,state,116476,1820,459,True,845731.0,861773.0,16.0,13515.85626,0.0156
1,2021-06-24,AP,NaN,state,116373,1817,458,False,845731.0,861773.0,16.0,13503.90416,0.0156
2,2021-06-23,AP,NaN,state,116148,1811,457,False,845731.0,861773.0,16.0,13477.79520,0.0156
3,2021-06-22,AP,NaN,state,115976,1807,456,False,845731.0,861773.0,16.0,13457.83634,0.0156
4,2021-06-21,AP,NaN,state,115771,1803,455,False,845731.0,861773.0,16.0,13434.04818,0.0156